.team {
    max-width: 1080px;
    margin: 160px auto 0;
    &-title {
        font-size: 48px;
        line-height: 61px;
        text-transform: uppercase;
        text-align: center;
        color: #DC201F;
        font-family: 'Audiowide', cursive;
    }

    &-subtitle {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        text-transform: uppercase;
        color: #4381C1;
        text-align: center;
        margin: 30px 0 70px;
    }

    &-items {
        display: flex;

        & > div:last-child {
            margin-right: 0;
        }
    }

    &-item {
        margin-right: 40px;

        &-title {
            margin: 18px 0;
            font-weight: 900;
            font-size: 22px;
            line-height: 26px;
            color: #DC201F;
            text-align: center;
        }

        &-description {
            font-weight: 500;
            font-size: 22px;
            line-height: 124.7%;
            text-align: center;
            color: #FFFFFF;
        }
    }

    &.mobile {
        margin-top: 60px;

        .team {
            max-width: 100%;

            &-title {
                font-size: 24px;
                line-height: 31px;
            }

            &-subtitle {
                font-size: 18px;
                line-height: 21px;
                margin: 20px 0;
            }

            &-items {
                flex-direction: column;
            }

            &-item {
                margin-right: 0;
                margin-bottom: 56px;
                padding: 0 40px;
                &-image {
                    width: 100%;
                }
                &-title {
                    font-size: 20px;
                    line-height: 23px;
                    margin: 20px 0 7px;
                }

                &-description {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}